/* general */
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'poppins' , sans-serif;
}


/* nav */
#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333647;
    color: white;
    position: fixed;
    border: none;
    width: 100vw;
    height: 80px;
    z-index: 1;
}

#nav .title{
    font-family: 'Tangerine', serif;
    font-size: 2.5rem;
    line-height: 0;
    position: relative;
    left: 50px;
    transition: .3s;
}

#nav .title:hover{
    transform: scale(1.1);
}

#nav .menu{
    position: relative;
    right: 50px;
}

#nav .menu a{
    padding: 0 10px;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    transition: 5s;
}

.hire a{
    padding: 0 10px;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.hire{
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: #DB7816;
    background: linear-gradient(135deg, #DB7816, #FFBD19);
    transition: .3s;
}

.hire:hover{
    transform: scale(1.1);
}
    
/* main */
#main{
    background: #333647;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 50px 0;
}

#main .info{
    position: relative;
    text-align: start;
    left: 50px;
    color: white;
}

#main .info .name{
    font-size: 4rem;
    line-height: 60px;
}

#main .info .name::before{
    content: "";
    position: absolute;
    border: 5px solid;
    padding: 5px 670px 0 0;
    top: 65px;
    background: linear-gradient(to right,red,blue);
    border-color:#333647;
    left: -5px;
    transition: .3s;
}

#main .info .job{
    font-size: 2rem;
    line-height: 0;
    position: relative;
    top:70px;
}

#main .info .about{
    width: 670px;
    text-align: justify;
    line-height: 25px;
    position: relative;
    top:100px;
    font-size: 1.2rem;
}

#main .action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 330px;
    left: 0;
    position: relative;
    top:145px;
}

#main .explore{
    display: flex;
    align-items: center;
    width: 100px;
    height: 40px;
    border: 2px solid transparent;
    border-radius: 20px;
    background: 
    linear-gradient(to right, #333647, #333647), 
    linear-gradient(to right, red , blue); 
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    padding: 0 20px;
    position: relative;
    cursor: pointer;
}

#main .explore button{
    border: none;
    outline: none;
    border-radius: 50%;
    padding: 20px;
    position: absolute;
    left: 0;
    background: linear-gradient(135deg, #1916db, #ff1919);
    cursor: pointer;
    transition: 1s;
}

#main .explore button div{
    border: 10px solid;
    border-color: transparent transparent transparent #3639d3;
    position: absolute;
    top: 10.5px;
    left: 17.5px;
    cursor: pointer;
}

#main .explore:hover button{
    position: absolute;
    transform: translate(100px);
}

#main .explore p{
    position: absolute;
    right: 20px;
    transition: .5s;
}

#main .explore:hover p{
    opacity: 0;
}

#main .image{
    position: relative;
    top: 50px;
    right: 100px;
}

#main .image img{
    width: 350px;
}

/* content */
#content{
    width: 100%;
    height: 100%;
    background: #282a39;
}

#content .title{
    text-align: center;
    font-size: 1.5rem;
    color: white;
    padding: 50px 0;
}

#content .projects{
    display: block;
    margin: 0 50px;
}

#content .projects .project{
    display: flex;
    align-items: start;
    justify-content: flex-start;
    padding: 50px 0;
}

#content .projects .project .image{
    flex: 1;
    background: #333647;
    padding: 20px;
    border-radius: 5px;
}

#content .projects .project .text{
    flex: 6;
    margin-left: 100px;
    color: white;
    cursor: pointer;
}

#content .projects .project .text h2{
    font-size: 2rem;
    line-height: 50px;
    transition: .3s;
    width: fit-content;
    line-height: 50px;
}

#content .projects .project .text p{
    font-size: 1.2rem;
    line-height: 30px;
    text-align: justify;
}

#content .projects .image{
    cursor: pointer;
}

#content .projects img{
    width: 300px;
    border-radius: 5px;
    transition: .3s;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #1f2323;
}

footer .text{
    text-align: center;
    width: 80%;
    margin-top: 50px;
    color: #b9baba;
    font-size: 1.2rem;
    line-height: 30px;
    text-align: start;

}

footer .icons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    padding: 50px;
    font-size: xx-large;
}

footer .icons .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(245, 245, 245);
    border-radius: 50%;
    padding: 5px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

/* media */
@media(min-width:1600px){
    #nav .title{
        left: 10%;
    }

    #nav .menu{
        right: 10%;
    }
    
    #main .info{
        left: 10%;
    }
    
    #main .image{
        right: 11%;
    }

    #content .projects{
        display: block;
        margin: 0 10%;
    }
}

@media(max-width:1340px){
    #main .image{
        position: relative;
        top: 50px;
        right: 50px;
    }
}

@media(max-width:1160px){
    #main .image{
        display: none;
    }

    #main{
        padding-top: 100px;
        padding-bottom: 200px;
    }
    
    #content .projects .project {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px 0;
    }    

    #content .projects .project .image {
        flex: 0;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #content .projects .project .image img{
        width: 100%;
    }

    #content .projects .project .text {
        flex: none;
        margin: 0;
    }
}

@media(max-width:768px){
    #nav{
        height: 60px;
        justify-content: space-evenly;
    }

    #nav .title{
        display: none;
    }
    
    #nav .menu{
        position: static;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
    }

    #nav .menu a{
        font-size: 1rem;
    }
    
    .hire a{
        font-size: 1rem;
    }

    #main .info {
        left: 10%;
    }

    #main .info .name{
        font-size: 2.5rem;
        line-height: 80px;
    }

    #main .info .name::before{
        padding: 5px 420px 0 0;
    }

    #main .info .job{
        font-size: 1.5rem;
        top:40px;
    }

    #main .info .about{
        width: 420px;
        line-height: 20px;
        top:65px;
        font-size: 1rem;
    }

    #main .action{
        top:95px;
    }
    
    #content .title{
        text-align: center;
        font-size: 1rem;
        color: white;
        padding: 50px 0;
    }

    #content .projects .project .text h2{
        font-size: 1.5rem;
    }
    
    #content .projects .project .text p{
        font-size: 1rem;
        line-height: 20px;
    }
    
    footer .text{
        font-size: 1rem;
        line-height: 20px;
    }
    
    footer .icons .icon{
        width: 30px;
        height: 30px;
    }
    
    footer .icons{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 50%;
        padding: 50px;
        font-size: large;
    }
}

@media(max-width:530px){
    #nav .menu a{
        padding: 5px;
        font-size: .5rem;
    }

    .hire{
        padding: 5px;
        font-size: .5rem;
    }

    .hire a{
        font-size: .5rem;
    }

    #main .info .name{
        font-size: 2rem;
        line-height: 90px;
    }

    #main .info .name::before{
        padding: 5px 338px 0 0;
    }

    #main .info .job{
        top:20px;
        font-size: 1rem;
    }

    #main .info .about{
        top:35px;
        width: 340px;
        font-size: .5rem;
        line-height: 10px;
    }

    #main .action{
        top:45px;
        width: 180px;
    }

    #main .explore{
        width: 30px;
        height: 20px;
    }

    #main .explore button{
        padding: 10px;
    }

    #main .explore button div{
        border: 5px solid;
        border-color: transparent transparent transparent #3639d3;
        position: absolute;
        top:3px;
        left: 7px;
    }

    #main .explore p{
        font-size: .5rem;
        right: 10px;
    }
    
    #content .title{
        font-size: .5rem;
        line-height: 0;
    }

    #content .projects .project{
        padding: 20px 0;
    }
    #content .projects .project .text h2{
        font-size: .9rem;
    }

    #content .projects .project .text p{
        font-size: .5rem;
        line-height: 10px;
    }

    footer .text{
        font-size: .5rem;
        line-height: 10px;
    }

    footer .icons{
        padding: 10px 0;

    }

    footer .icons .icon{
        width: 10px;
        height: 10px;
    }

    footer .icons .icon i{
        font-size: small;
    }    
}

@media(max-width:385px){
    #main .explore{
        display: none;
    }

    #main .info .name{
        font-size: 1.5rem;
        line-height: 100px;
    }

    #main .info .name::before{
        padding: 5px 254px 0 0;
    }

    #main .info .job{
        top:10px;
        font-size: .8rem;
    }

    #main .info .about{
        top:25px;
        width: 250px;
        font-size: .5rem;
        line-height: 10px;
    }

}
