/* general */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    background-color: #212529;
    margin: 0;
    padding: 0;
    color: white;
    overflow-x: hidden;
}

/* hero section */
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width:100vw;
}

.hero .circle{
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.hero .name{
    text-align: center;
    margin: 0;
    padding: 0;
    padding: 20px 0;
}

.hero .job{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
}

.hero .botton{
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    height: 50px;
    width: 200px;
    background-color: rgb(39, 139, 17);
    display: flex;
    margin-top: 20px;
    cursor: pointer;
}

.botton-word{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    text-decoration: none !important;
    color: white;
}

.botton:hover{
    background-color: rgba(39, 139, 17, 0.619);
}

/* about */
.about .hello{
    text-align: center;
    font-weight: 900;
    margin-top: 100px;
    letter-spacing: 1px;
}

.about .brief{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    margin-top: 10px;
}


/* skills section */
#skill-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
}

#skill-container p{
    font-family: 'Poppins', sans-serif;
    margin-left: 20px;
    margin-right: 10px;
    line-height: 25px;
}

#skill-container span{
    font-weight: bold;
    font-size: larger;
    margin: 0;
    padding: 0;
    margin-top: 2px;
    margin-bottom: -10px;
}

.skills-title{
    text-align: center;
    font-weight: 900;
    margin: 0;
    padding: 0;
    margin-top: 100px;
    border: 20px double #490462;
    width: 80%;
    padding: 10px 0px;
}

.skills{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    border: 20px double #490462;
    width: 80%;
    height: 20%;
}

.skills .skill-one{
    display: grid;
    grid-column: 1;
    grid-row: 1;
    grid-template-columns: 1fr 1fr;
    border: 10px double #490462;
}

.skill-one img{
    display: grid;
    grid-column: 1;
}


.skill-one p{
    display: grid;
    grid-column: 2;
}

.skills .skill-two{
    display: grid;
    grid-column: 2;
    grid-row: 1;
    grid-template-columns: 1fr 1fr;
    border: 10px double #490462;
}

.skill-two img{
    display: grid;
    grid-column: 1;
}


.skill-two p{
    display: grid;
    grid-column: 2;
}


.skills .skill-three{
    display: grid;
    grid-column: 1;
    grid-row: 2;
    grid-template-columns: 1fr 1fr;
    border: 10px double #490462;
}

.skill-three img{
    display: grid;
    grid-column: 1;
}


.skill-three p{
    display: grid;
    grid-column: 2;
}


.skills .skill-four{
    display: grid;
    grid-column: 2;
    grid-row: 2;
    grid-template-columns: 1fr 1fr;
    border: 10px double #490462;
}

.skill-four img{
    display: grid;
    grid-column: 1;
}


.skill-four p{
    display: grid;
    grid-column: 2;
}

/* contact me section */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    margin: 0;
    padding: 0;
    background-color: #171a1c;
    width: 100vw;
    height: 20vh;
}

footer ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

footer a{
    color: #e6e7e4;
}

footer p{
    color: #e6e7e4;
}

hr {
    width: 100%;
    border: 1px solid #495057;
}

/* laptops */
@media (max-width:1500px){
    /* skills section */
    .skill .skill-one{
        grid-template-rows: 1fr 1fr;
        grid-template-columns: none;
    }
    .skill-one img{
        display: grid;
        grid-row: 1;
        grid-column: none;
        width: 100%;
    }
    
    .skill-one p{
        display: grid;
        grid-row: 2;
        grid-column: none;
    }
    
    .skill .skill-two{
        grid-template-rows: 1fr 1fr;
        grid-template-columns: none;
    }
    .skill-two img{
        display: grid;
        grid-row: 1;
        grid-column: none;
        width: 100%;
    }
    
    .skill-two p{
        display: grid;
        grid-row: 2;
        grid-column: none;
    }
    
    .skill .skill-three{
        grid-template-rows: 1fr 1fr;
        grid-template-columns: none;
    }
    .skill-three img{
        display: grid;
        grid-row: 1;
        grid-column: none;
        width: 100%;
    }
    
    .skill-three p{
        display: grid;
        grid-row: 2;
        grid-column: none;
    }

    .skill .skill-four{
        grid-template-rows: 1fr 1fr;
        grid-template-columns: none;
    }
    .skill-four img{
        display: grid;
        grid-row: 1;
        grid-column: none;
        width: 100%;
    }

    .skill-four p{
        display: grid;
        grid-row: 2;
        grid-column: none;
    }
}



/* tablits */
@media (max-width:768px){
    /* skills section */
    .skills{
        display: block;
    }
}

/* small phones */
@media(max-width:400px){
    /* contact me section */
    footer{
        height:35vh;
    }
    footer ul{
        flex-direction: column;
        padding-bottom: 10px;
        line-height: 30px;
    }
}
