/* general */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
    width: 100vw;
    height: 100vh;

    background-color: #212529;
    color: white;
}

/* container */
#container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 880px;

    background-color: #233341;
    border-radius: 10px;
}

img{
    width: 320px;
    border-radius: 10px 0px 0px 10px;
}

#left{
    display: flex;
    flex: 4;
}

#right{
    display: flex;
    flex: 6;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 50px;
    width: 480px;
}

h1{
    margin-left: -7px;
}

p{
    font-family: 'Poppins', sans-serif;
}

.fa-brands , .fa-regular{
    color:aquamarine
}

@media(max-width:930px){
    body{
        flex-direction: column;
        overflow-y:visible;
        margin: 300px 0px;
    }
    #container{
        flex-direction: column;
        width: 450px;
    }
    #right{
        width: 450px;
    }
    img{
        border-radius: 10px 10px 0px 0px;
        width: 450px;
    }
}

@media(max-width:480px){
    body{
        flex-direction: column;
        overflow-y:visible;
        margin: 300px 0px;
    }
    #container{
        flex-direction: column;
        width: 250px;
    }
    #right{
        width: 250px;
        font-size: 50%;
    }
    img{
        border-radius: 10px 10px 0px 0px;
        width: 250px;
    }
}
